.footer {
  padding: 20px;
}

:where(.css-dev-only-do-not-override-10ed4xt).ant-list .ant-list-item {
  color: #ffffff;
  padding: 2px;
}

.anticon-facebook {
  font-size: 30px;
}

.column {
  padding: 20px;
}

@media (max-width: 720px) {

  .column {
    padding: 0px;
  }
}