@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* ------- General -------- */

* {
  font-family: 'Montserrat', sans-serif !important;
}

a:where(.css-dev-only-do-not-override-10ed4xt).ant-typography {
  color: #ffffff;
}

p {
  font-size: 12px;
}

h4 {
  font-weight: 500;
}

img {
  width: 100%;
}

.container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.container-p {
  padding: 50px 0px;
}

.container-pb {
  padding-bottom: 50px;
}

.padding-top {
  padding-top: 25px;
}

.padding-rigth {
  padding-right: 25px;
}

.text-center {
  text-align: center;
}

.ant-list-items {
  font-size: 12px;
}

.ant-btn {
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.line {
  border-top: 1px solid #DB0600;
  height: 4px;
  width: 100%;
  padding: 10px 0px;
  margin: 20px auto 0 auto;
}

.gray-line {
  border-top: 1px solid #E5E5E5;
  height: 4px;
  width: 100%;
  padding: 10px 0px;
  margin: 20px auto 0 auto;
}

/* Color letras */

.red-color {
  color: #DB0600;
}

.black-color {
  color: #000000;
}

.green-color {
  color: #247f62;
}

.rose-color {
  color: #c997a8;
}

.grey-color {
  color: #3F3F3F;
}

.white-color {
  color: #ffffff;
}

/* Color fondo */

.background-red {
  background-color: #DB0600;
}

.background-black {
  background-color: #000000;
}

.background-grey {
  background-color: #3F3F3F;
}

/* Botones */

.rose-button {
  background: #c997a8;
  color: #ffffff;
  position: absolute;
  margin: 5px 0px 0px 10px;
}

.rose-button:hover {
  background: #ffffff;
  color: #c997a8 !important;
}

.green-button {
  background: #247f62;
  color: #ffffff;
  position: absolute;
  margin: 5px 0px 0px 10px;
}

.green-button:hover {
  background: #ffffff;
  color: #247f62 !important;
}


.black-button {
  background: #000000;
  color: #ffffff !important;
}

.black-button:hover {
  background: #ffffff;
  color: #000000 !important;
}

.red-button {
  background: #DB0600;
  color: #ffffff !important;
}

.red-button:hover {
  background: #ffffff;
  color: #DB0600 !important;
}

.black-red-button {
  background: #000000;
  color: #ffffff !important;
}

.black-red-button:hover {
  background: #DB0600;
  color: #ffffff !important;
}



/* ------- Responsive -------- */

@media (max-width: 720px) {

  .esmaltes-banner {
    padding-left: 0px;
    margin: auto;
  }

  .home-page-container {
    margin-top: 120px;
  }

  .container {

    padding: 20px;
  }


  .padding-rigth {
    padding-right: 0px;
  }

  [class^="ant-row"] [class^="ant-row"] {

    display: block;

  }

  .rose-button {

    position: relative;

  }

  .green-button {

    position: relative;

  }

}