:root {
  --main-dark-bg-color: #002e39;
  --main-light-bg-color: #0f3942;
  --text-general-color: #f2f6f7;
  --button-text-color: #ffffff;
  --button-border-color: #2e6370;
  --button-hover-color: #004353;
  --general-bg-color: #002125;
}

.header-layout-container {
  grid-area: header;
}

.home-page-container {
  grid-area: main-content;
}

.error-404-page-container {
  grid-area: main-content;
}

.footer-layout-container {
  grid-area: footer;
}

.app-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
  grid-template-rows: 4rem 96% 5rem;
  grid-template-columns: 100%;
}
